.album {
  color: white;
  margin-bottom: 15px;
}

.albumFooter {
  background-color: #232323;
  padding: 15px;
  margin-top: -5px;
}

.artistStyle {
  text-align: left;
  color: white;
  transition: transform 100ms ease-in;
}

.artistStyle:hover {
  transform: scale(1.07);
}
